@charset "utf-8";
body {
background-image: url(../stacked/img/fourth-bg.png);
margin:0px;
padding:0px;
color:#fff;
font-size:14px;
}

.window {
border:6px #ccc outset;
width:700px;
height:470px;
background-color:#000;
position:absolute;
top:80px;
left:100px;
overflow:hidden
}

.title {
background-color:#08246B;
padding:2px;
}

#text {
background-color:#000;
border-top:#ccc outset 2px;
height:450px;
overflow-y:scroll;
}

ul {
margin:1%;
padding:0px;
list-style:none;
}

button{
color:orange;
background:transparent;
margin-top:1%;
margin-left:1%
}

input{
width: 657px;
background:transparent;
color:white;
border:0;
font-size:16px;
outline:none;
margin-left:1%;
margin-top:1%;
}

textarea {
margin-left:1%;
margin-top:1%;
height:375px;
width: 657px;
background:transparent;
color:white;
border:0;
font-size:16px;
outline:none;
}