<!doctype html>
{% load static %}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Yizhe(Ervin) Zhang - Home</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="{% static 'stacked/img/ez.ico' %}"/>
        <link rel="stylesheet" href="{% static 'stacked/css/diy.css' %}">
        <link rel="stylesheet" href="{% static 'stacked/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'stacked/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'stacked/css/templatemo-style.css' %}">


        <script src="{% static 'stacked/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>
    <body>
        <nav class="nav">
          <div class="burger">
            <div class="burger__patty"></div>
          </div>

          <ul class="nav__list">
            <li class="nav__item">
              <a href="#1" class="nav__link c-blue"><img title="Summary" src="{% static 'stacked/img/home-icon.png' %}" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="/resume/en/#2" class="nav__link c-yellow scrolly"><img title="About Me" src="{% static 'stacked/img/about-icon.png' %}" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="/resume/en/#3" class="nav__link c-red"><img title="Gallery" src="{% static 'stacked/img/projects-icon.png' %}" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="#4" class="nav__link c-green"><img title="Contact Me" src="{% static 'stacked/img/contact-icon.png' %}" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="/resume/cn/" class="nav__link c-blue"><img title="click for chinese version(中文版)" src="{% static 'stacked/img/cn.png' %}" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="/pfas/" target="_blank" class="nav__link c-blue"><img title="Python Financial Analysis System" src="{% static 'stacked/img/pfas.png' %}" alt=""></a>
            </li>
          </ul>
        </nav>

        <!-- summary -->
        <section class="panel b-blue" id="1">
          <article class="panel__wrapper">
            <div class="panel__content">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="home-content">
                      <div class="home-heading">
                        <h1><em>ZHANG</em>Yi Zhe</h1>
                        <a href="#4" style="font-size:19px;text-transform:none;">English Name: Ervin Zhang</a>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="home-box-content">
                            <div class="left-text">
                              <h4><em>Summary</em></h4>
                                <li >Software engineer enthusiast in system design, development, and innovation.</li>
                                <li >Proficient in Front-end/Back-end (Python/JS) web technologies and tools.</li>
                                <li >Seeking a Full-Stack Engineer Intern to utilize my technical & interpersonal skills</li>
                                <br>
                                <h5 class="pt">Websites: </h5>
                                <a href="/resume/en/" class="ws">> Personal Website &nbsp;(Django)</a><br>
                                <h5 class="pi">&nbsp;&nbsp;&nbsp;&nbsp;Personal Introduction and Experience</h5>
                                <a href="https://bea-analysis.herokuapp.com/" class="ws">> BEA-Gold Visualization System &nbsp;(Tornado)</a><br>
                                <h5 class="pi">&nbsp;&nbsp;&nbsp;&nbsp;Gold Visualization different format plots </h5>
                                <a href="https://fin-analysis.herokuapp.com/" class="ws">> NIA7-Financial Analysis System &nbsp;(Flask)</a><br>
                                <h5 class="pi">&nbsp;&nbsp;&nbsp;&nbsp;More Financial Products analysis(developing)</h5>
                                <br>
                              <div class="primary-button">
                                <a target="_blank" href="http://www.linkedin.com/in/yizhe-zhang">Linkedin >></a>
                              </div>
                            </div>
                            <div class="right-image">
                              <img src="{% static 'stacked/img/right-home-image.png' %}" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>

        <!-- contact me-->
        <section class="panel b-green" id="4">
          <article class="panel__wrapper">
            <div class="panel__content">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="contact-content">
                      <div class="heading">
                        <h4>Contact me</h4>
                      </div>
                      <div class="row">
                        <div class="col-md-8">
                          <div class="contat-form">
                            <form id="contact" action="/resume/en/" method="post" >
                              {% csrf_token %}
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required>
                              </fieldset>
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="Email" required>
                              </fieldset>
                              <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message" required></textarea>
                              </fieldset>
                              <fieldset>
                                <button type="submit" id="form-submit" class="btn">Send Message</button>
                              </fieldset>
                            </form>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="more-info">
                            <p>Ervin(Yizhe) Zhang
                              <br><br>
                            <em><a style="color:" target="_blank" href="mailto:zhang.yizhe@husky.neu.edu?subject=Please%20type%20in%20the%20subject">zhang.yizhe@husky.neu.edu</a>
                              <br>
                              <a target="_blank" href="http://www.linkedin.com/in/yizhe-zhang">www.linkedin.com/in/yizhe-zhang</a>
                              <a target="_blank" href="https://github.com/YizheZhang-Ervin">github.com/YizheZhang-Ervin</a>
                            </em></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="footer">
                      <p>Ervin Zhang | <a style="color:" target="_blank" href="mailto:zhang.yizhe@husky.neu.edu?subject=Please%20type%20in%20the%20subject">zhang.yizhe@husky.neu.edu</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
      

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'stacked/js/vendor/jquery-1.11.2.min.js' %} "><\/script>')</script>

        <script src="{% static 'stacked/js/vendor/bootstrap.min.js' %}"></script>

        <script src="{% static 'stacked/js/plugins.js' %}"></script>
        <script src="{% static 'stacked/js/main.js' %} "></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
