<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>SuperHTML with SCSS</title>
    <meta charset="UTF-8" />
    <link href="{% static 'acaproject/css/main.css' %} " rel="stylesheet" />
  </head>
  <body>
    <!--Part 1 Home-->
    <a name="top-part" id="top001"></a>
    <header class="p1grid">
      <!--top left button -->
      <div class="p1gridd1">
        <button type="button" class="buttonC">O O</button>
      </div>
      <!--top navigation bar -->
      <div class="p1gridd2">
        <button
          onclick="window.location.href= '#top001'"
          type="button"
          class="buttonW"
        >
          HOME
        </button>
        <button
          onclick="window.location.href= '#about001'"
          type="button"
          class="buttonW"
        >
          ABOUT US
        </button>
        <button
          onclick="window.location.href= '#service001'"
          type="button"
          class="buttonW"
        >
          SERVICES
        </button>
        <button
          onclick="window.location.href= '#news001'"
          type="button"
          class="buttonW"
        >
          NEWS
        </button>
        <button
          onclick="window.location.href= '#resource001'"
          type="button"
          class="buttonW"
        >
          RESOURCES
        </button>
      </div>
    </header>

    <!--first part words -->
    <div class="p1d">
      <br /><br /><br /><br /><br /><br /><br />
      <p class="p1p">Sharing Vitality</p>
      <p class="p1p"><strong>Through Designing</strong></p>
      <h4 class="p1h">clean design and advanced digital solutions</h4>
      <br />
      <button type="button" class="buttonstyle p1b1">Explore More</button>
      <button type="button" class="p1b2">See Live Demo</button>
    </div>

    <br /><br />

    <!--Part 2 About me-->
    <a name="about-part" id="about001"></a>
    <div class="p2grid">
      <!--picture -->
      <div class="p2d1">
        <object type="image/svg+xml" data="{% static 'acaproject/img/part2.svg' %}"></object>
      </div>
      <!--sentences -->
      <div class="p2d2">
        <br /><br />
        <p class="p2p1 colorG"><strong>About Me</strong></p>
        <p class="p2p2"><strong>Why hire us for your next project?</strong></p>
        <p class="p2p3">
          We are creative director and UI/UX designer from new york, working in
          web development and print media.We enjoy turning complex problems into
          simple,beautiful and intuituive designs
        </p>
        <p class="p2p3">
          Our job is to build your website so that it is functional and
          user-friendly but at the same time attractive
        </p>
        <button type="button" class="buttonstyle colorW p2b">
          Download CV
        </button>
      </div>
    </div>

    <!--four cycles -->
    <div class="p2cirgrid">
      <div class="p2cirA">
        <div class="p2cir2">
          <div class="p2cir3"></div>
        </div>
        <div class="p2cirtext centertext">
          <span> 50%</span><br />
          <span> WEB DESIGN</span>
        </div>
      </div>

      <div class="p2cirB">
        <div class="p2cir2">
          <div class="p2cir3"></div>
        </div>
        <div class="p2cirtext centertext">
          <span> 75%</span><br />
          <span> development</span>
        </div>
      </div>

      <div class="p2cirC">
        <div class="p2cir2">
          <div class="p2cir3"></div>
        </div>
        <div class="p2cirtext centertext">
          <span> 20% </span><br />
          <span> web design</span>
        </div>
      </div>

      <div class="p2cirD">
        <div class="p2cir2">
          <div class="p2cir3"></div>
        </div>
        <div class="p2cirtext centertext">
          <span> 50%</span><br />
          <span> user experience</span>
        </div>
      </div>
    </div>
    <br /><br /><br /><br /><br />

    <div class="clearfloat"></div>
    <!--Part 3 My Services-->
    <div class="p3d0">
      <!--2 titles -->
      <p><span class="p3s1">MY SERVICES</span></p>
      <p>
        <b><span class="p4s2">Our Provided Features & Expertise</span></b>
      </p>
    </div>

    <div class="p3grid">
      <!--6 different pic+words block -->
      <!--block 1.2 -->
      <div class="p3d1">
        <object
          class="p3embed"
          data="{% static 'acaproject/img/part3.svg' %}"
          type="image/svg+xml"
        ></object>
        <p class="p3p1"><b>web design</b></p>
        <hr class="p3h" />
        <p class="p3p2">
          lorem ipsum dolor sit amet,stet clita kasd lorem ipsum dolor sit
          amet.sed diam eirmod tempor dolore.
        </p>
        <br />
        <button class="p3b colorW">Know More -></button>
        <br /><br />
      </div>
      <a name="service-part" id="service001"></a>
      <div class="p3d2">
        <p class="p3p5"><b>95%</b></p>
        <hr color="mediumturquoise" class="p3h2" />
        <p class="p3p1"><b>web design</b></p>
        <p class="p3p4">HTML,CSS,jQuery</p>
      </div>

      <!--block 3.4 -->
      <div class=" p3d3">
        <p class="p3p5"><b>85%</b></p>
        <hr color="mediumturquoise" class="p3h2" />
        <p class="p3p1"><b>graphic design</b></p>
        <p class="p3p4">Photoshop,Illustrator</p>
      </div>
      <div class=" p3d4 colorW">
        <embed class="p3embed" src="{% static 'acaproject/img/part3-2.svg' %}" type="image/svg+xml" />
        <p class="p3p1"><b>graphics design</b></p>
        <hr class="p3h3" />
        <p class="p3p2">
          lorem ipsum dolor sit amet,stet clita kasd lorem ipsum dolor sit
          amet.sed diam eirmod tempor dolore.
        </p>
        <br />
        <button class="p3b2">Know More -></button>
        <br /><br />
      </div>

      <!--block 5.6 -->
      <div class="p3d6">
        <embed class="p3embed" src="{% static 'acaproject/img/part3.svg' %}" type="image/svg+xml" />
        <p class="p3p1"><b>web development</b></p>
        <hr class="p3h" />
        <br />
        <p class="p3p2">
          lorem ipsum dolor sit amet,stet clita kasd lorem ipsum dolor sit
          amet.sed diam eirmod tempor dolore.
        </p>
        <br />
        <button class="p3b">Know More -></button>
        <br /><br />
      </div>
      <div class=" p3d5">
        <p class="p3p5"><b>70%</b></p>
        <hr color="mediumturquoise" class="p3h2" />
        <p class="p3p1"><b>web development</b></p>
        <p class="p3p4">HTML,CSS,jQuery</p>
      </div>
    </div>
    <!--button -->
    <br /><br />
    <button class="p3b3 colorW">View More</button>
    <br /><br /><br />
    <!--Part 4 Portfolio-->
    <a name="top-part" id="news001"></a>
    <!--2 titles -->
    <p class="centertext"><span class="p4s1">PORTFOLIO</span></p>
    <p class="centertext">
      <b><span class="p4s2">My Work Examples</span></b>
    </p>
    <div class="p4grid">
      <!--4 pictures -->
      <div class="p4d1">
        <embed src="{% static 'acaproject/img/part4.svg' %}" type="image/svg+xml" />
      </div>
      <div class="p4d2">
        <embed src="{% static 'acaproject/img/part4-4.svg' %}" type="image/svg+xml" />
      </div>
      <div class="p4d3">
        <embed src="{% static 'acaproject/img/part4-2.svg' %}" type="image/svg+xml" />
      </div>
      <div class="p4d4">
        <embed src="{% static 'acaproject/img/part4-3.svg' %}" type="image/svg+xml" />
      </div>
    </div>
    <div class="clearfloat"><br /><br /></div>
    <!--button -->
    <button class="p3b3">View All</button>
    <!--Part 5 Testimonials-->
    <a name="service-part" id="resource001"></a>
    <div>
      <!--2 titles -->
      <p class="centertext"><span class="p4s1">TESTIMONIALS</span></p>
      <p class="centertext">
        <b><span class="p4s2">What People Says</span></b>
      </p>
      <br />
      <h1 class="centertext colorG">||</h1>
      <p class="centertext p5p1">
        lorem ipsum dolor sit amet,stet clita kasd lorem ipsum dolor sit
        amet.sed diam eirmod tempor dolore.
      </p>
      <p class="centertext"><span class="p4s2">John Doe</span></p>
      <p class="centertext">
        <b><span class="p4s2">CEO,ABC Company</span></b>
      </p>
    </div>
    <div class="p5d1">
      <embed src="{% static 'acaproject/img/part5-1.svg' %}" type="image/svg+xml" />
      <embed src="{% static 'acaproject/img/part5-3.svg' %}" type="image/svg+xml" />
      <embed src="{% static 'acaproject/img/part5-2.svg' %}" type="image/svg+xml" />
    </div>
    <br /><br />

    <!--Part 6 Blog-->
    <!--2 titles -->
    <p class="centertext"><span class="p4s1">BLOG</span></p>
    <p class="centertext">
      <b><span class="p4s2">Trendy News Feeds</span></b>
    </p>
    <div class="p6grid">
      <!--3 blocks -->
      <!--block left -->
      <div class="p6d1">
        <embed src="{% static 'acaproject/img/part6-2.svg' %}" type="image/svg+xml" />
        <p class="p6p1 colorG"><b>26th Octomber,</b></p>
        <p class="p6p2">
          I enjoy turning complex problems into simple,beautiful and intuitive
          designs.
        </p>
        <hr class="p6h1" />
        <p class="p6p2">lorem ipsum dolor sit amet,stet clita</p>
        <br />
        <!--button -->
        <button class="p6b colorG">Know -></button>
        <br /><br />
      </div>
      <!--block center -->
      <div class="p6d2">
        <embed src="{% static 'acaproject/img/part6-3.svg' %}" type="image/svg+xml" />
        <p class="p6p1"><b>26th Octomber,</b></p>
        <p class="p6p2">
          I enjoy turning complex problems into simple,beautiful and intuitive
          designs.
        </p>
        <hr class="p6h1" />
        <p class="p6p2">lorem ipsum dolor sit amet,stet clita</p>
        <br />
        <!--button -->
        <button class="p6b colorG">Know -></button>
        <br /><br />
      </div>
      <!--block right -->
      <div class="p6d3">
        <embed src="{% static 'acaproject/img/part6.svg' %}" type="image/svg+xml" />
        <p class="p6p1"><b>26th Octomber,</b></p>
        <p class="p6p2">
          I enjoy turning complex problems into simple,beautiful and intuitive
          designs.
        </p>
        <hr class="p6h1" />
        <p class="p6p2">lorem ipsum dolor sit amet,stet clita</p>
        <br />
        <!--button -->
        <button class="p6b colorG">Know -></button>
        <br /><br />
      </div>
      <br />

      <!--button -->
      <button class="p6b2 colorW">View All</button>
      <br /><br /><br /><br /><br /><br />
    </div>

    <!--Part 7 Contact Me-->
    <p class="centertext"><span class="p4s1">CONTACT ME</span></p>
    <p class="centertext">
      <b><span class="p4s2">Send Us a Message</span></b>
    </p>
    <br />
    <div>
      <!--form -->
      <form class="p7grid">
        <!--Name and email -->
        <div class=" p7d1">
          <p class="p7p">
            Name : <input placeholder="" type="text" name="name" class="p7i1" />
          </p>
        </div>
        <div class=" p7d3">
          <p class="p7p">
            Email :
            <input
              placeholder="xx@xx.xx"
              type="email"
              name="email"
              class="p7i1"
            />
          </p>
        </div>

        <!--phone and budget -->
        <div class=" p7d4">
          <p class="p7p">
            Phone# :
            <input
              placeholder="digits here"
              type="tel"
              name="phone"
              class="p7i1"
            />
          </p>
        </div>

        <div class=" p7d5">
          <p class="p7p">
            Budget :
            <input
              placeholder="click ComboBox to choose"
              type="number"
              name="budget"
              list="bgt"
              class="p7i1"
            />
          </p>
          <datalist id="bgt">
            <option value="1,000,000"></option>
            <option value="5,000,000"></option>
            <option value="10,000,000"></option>
          </datalist>
        </div>

        <!--message -->
        <div class="p7d2">
          <p class="p7p2">Message :</p>
          <textarea
              placeholder="please type in message here"
              type="text"
              name="message"
              class="p7t"
          ></textarea>
          
        </div>
        <br />
        <!--button -->
        <div class="p7b2">
          <button formmethod="GET" type="submit" class="p7b colorW">
            Send Message
          </button>
        </div>
      </form>
    </div>
    <!--Part 8 bottom of page-->
    <!--anchor -->
    <div class="p8d1">
      <button class="p8b0" onclick="window.location.href='#top001'"></button>
    </div>

    <!--content of designer -->
    <footer class="p8grid">
      <!--left content -->
      <div class="p8d2">
        <button type="button" class="p8b1">O O</button>
        <p class="centertext p8p1">
          lorem ipsum dolor sit amet,stet clita kasd lorem ipsum dolor sit
        </p>
      </div>
      <!--right content -->
      <div class="p8d3">
        <!--upper part -->
        <p class="p8p2">
          <b
            >We are digital designer living in United States. Apart from eating
            burger</b
          >
        </p>
      </div>
      <!--lower part -->
      <!--lower-left part-->
      <div class="p8d4 p8grid2">
        <div class="p8g2d1">
          <p class="colorG">SEND MAIL</p>
          <p>Info@portfolio.c</p>
        </div>
        <!--lower-center part -->
        <div class=" p8g2d2">
          <p class="colorG">MAKE CALL</p>
          <p>+123 456 7890</p>
        </div>
        <!--lower-right part -->
        <div class=" p8g2d3">
          <p class="colorG">GET IN TOUCH</p>
          <p>123/A,</p>
        </div>
      </div>
      <!--Separator -->
      <div class="p8sep">
        <hr class="colorG" />
        <p class="centertext"><b>2019 All Rights Reserved</b></p>
      </div>
    </footer>
  </body>
</html>
