<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
<html>
  <head>
    <title>PKB</title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" type="text/css" href="{% static 'forum/styles.css' %}" />
    <link rel="shortcut icon" href="{% static 'stacked/img/ez.ico' %}"/>
  </head>
  <body background="{% static 'forum/bg.png' %}">
    <div id="container">
      <div id="header">
        <h1>
          <a href="/resume/en/" style="color:white;">
            <i>Python Financial Analysis System(PFAS)</i>
          </a>
          <p class="p1"> <i>--Written By Ervin Zhang</i></p>
        </h1>
      </div>
      <div class="grid">
        <div id="navigation">
          <p class="p-nav"><strong>Precious Metals</strong></p>
          <hr style="color:#F0F8FF;height:2px;background-color:#F0F8FF;width:80%"/>
          <ul class="ul-nav">
            <li><a href="">Gold?</a></li>
            <li><a href="">Silver?</a></li>
            <li><a href="">Platinum?</a></li>
            <li><a href="">Ruthenium?</a></li>
            <li><a href="">Rhodium?</a></li>
            <li><a href="">Palladium?</a></li>
            <li><a href="">Osmium?</a></li>
            <li><a href="">Iridium?</a></li>
          </ul>
        </div>
        <div id="extra">
          <p class="p-nav"><strong>Main Points</strong></p>
          <hr style="color:#F0F8FF;height:2px;background-color:#F0F8FF;width:80%"/>
          <ul class="ul-nav">
            <li><a href="">Day</a></li>
            <li><a href="">Week</a></li>
            <li><a href="">1 Month</a></li>
            <li><a href="">3 Months</a></li>
            <li><a href="">6 Months</a></li>
            <li><a href="">1 Year</a></li>
            <li><a href="">2 Year</a></li>
            <li><a href="">5 Year</a></li>
            <li><a href="">10 Year</a></li>
            <li><a href="">20 Year</a></li>
            <li><a href="">50 Year</a></li>
          </ul>
        </div>
        <div id="wrapper" style="overflow-y:scroll;overflow-x:auto">
          <div id="content">


          </div>
        </div>
      </div>
      <div id="footer">
        <p style="text-align:right;height:20px">Python Financial Analysis System(PFAS) --Written By Ervin Zhang</p>
      </div>
    </div>
  </body>
</html>
