<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
<html>
  <head>
    <title>PFAS</title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" type="text/css" href="{% static 'pfas/pfas.css' %}" />
    <link rel="shortcut icon" href="{% static 'stacked/img/ez.ico' %}"/>
  </head>
  <body background="{% static 'pfas/bg.png' %}">
    <div id="container">
      <div id="header">
        <h1>
          <a href="/resume/en/" style="color:white;">
            <i>Python Financial Analysis System(PFAS)</i>
          </a>
          <p class="p1"> <i>--Written By Ervin Zhang</i></p>
        </h1>
      </div>
      <div class="grid">
        <div id="navigation">
          <p class="p-nav"><strong>Precious Metals</strong></p>
          <hr style="color:#F0F8FF;height:2px;background-color:#F0F8FF;width:80%"/>
          <ul class="ul-nav">
            <li><a href="">Gold</a></li>
            <li><a href="">Silver</a></li>
            <li><a href="">Platinum</a></li>
            <li><a href="">Ruthenium</a></li>
            <li><a href="">Rhodium</a></li>
            <li><a href="">Palladium</a></li>
            <li><a href="">Osmium</a></li>
            <li><a href="">Iridium</a></li>
          </ul>
        </div>
        <div id="extra">
          <p class="p-nav"><strong>Time-Slicing</strong></p>
          <hr style="color:#F0F8FF;height:2px;background-color:#F0F8FF;width:80%"/>
          <ul class="ul-nav">
            <li><a id='day'>Day</a></li>
            <li><a id="1week">1 Week</a></li>
            <li><a id="2weeks">2 Weeks</a></li>
            <li><a id="3weeks">3 Weeks</a></li>
            <li><a id="1month">1 Month</a></li>
            <li><a id="2months">2 Months</a></li>
            <li><a id="3months">3 Months</a></li>
          </ul>
        </div>
        <div id="wrapper" style="overflow-y:hidden;overflow-x:auto">
          <div id="content">
            <p id="typeofchart">Recent 1 Week Chart</p>
            <embed id="pic1" src="{% static '/pfas/img/1week.png' %}" />
            <embed id="pic2" src="{% static '/pfas/img/2weeks.png' %}" />
            <embed id="pic3" src="{% static '/pfas/img/3weeks.png' %}" />
            <embed id="pic4" src="{% static '/pfas/img/1month.png' %}" />
            <embed id="pic5" src="{% static '/pfas/img/2months.png' %}" />
            <embed id="pic6" src="{% static '/pfas/img/3months.png' %}" />
            <hr style="border:1px dashed #FFD700;width:70%" align="left">
            <p style="font-size:21px"><b>Today's Gold Prices Here:</b></p>
            <p style="line-height:40px"><i>(Current Date: {{localtime}} - ASIA/SHANGHAI)</i></p>
            <table class="price" width="370px">
              <tr>
                <th style="border: 2px outset rgba(255,215,0,0.7);">Type</th>
                <th style="border: 2px outset rgba(255,215,0,0.7);">Price</th>
              </tr>
              <tr>
                <td>Open&nbsp;Price: </td>
                <td>{{oprice}} CNY/g</td>
              </tr>
              <tr>
                <td>Close Price: </td>
                <td>{{cprice}} CNY/g</td>
              </tr>
              <tr>
                <td>Settle Price: </td>
                <td>{{sprice}} CNY/g</td>
              </tr>
              <tr>
                <td>High&nbsp;&nbsp;Price: </td>
                <td>{{hprice}} CNY/g</td>
              </tr>
              <tr>
                <td>Low&nbsp;&nbsp;&nbsp;Price: </td>
                <td>{{lprice}} CNY/g</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div id="footer">
        <p style="text-align:right;height:20px">Python Financial Analysis System(PFAS) --Written By Ervin Zhang</p>
      </div>
    </div>
  <script src="{% static 'pfas/pfas.js' %}"></script>
  </body>
</html>
