<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
<html>
  <head>
    <title>PKB</title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" type="text/css" href="{% static 'forum/styles.css' %}" />
  </head>
  <body background="{% static 'forum/bg.png' %}">
    <div id="container">
      <div id="header">
        <h1>
          <a href="/resume/en/" style="color:white;">
            <i>Python Knowledge Base (PKB)</i>
          </a>
          <p class="p1"> <i>--Written By Ervin Zhang</i></p>
        </h1>
      </div>
      <div class="grid">
        <div id="navigation">
          <p class="p-nav"><strong>Python Specialization</strong></p>
          <hr style="color:#F0F8FF;height:2px;background-color:#F0F8FF;width:80%"/>
          <ul class="ul-nav">
            <li><a href="">Python Basic</a></li>
            <li><a href="">Python Web</a></li>
            <li><a href="">Python Data</a></li>
            <li><a href="">Python Finance</a></li>
            <li><a href="">Python GUI/Game</a></li>
            <li><a href="">Python Crawler</a></li>
            <li><a href="">Python Security</a></li>
            <li><a href="">Python Automation</a></li>
          </ul>
        </div>
        <div id="extra">
          <p class="p-nav"><strong>Main Points</strong></p>
          <hr style="color:#F0F8FF;height:2px;background-color:#F0F8FF;width:80%"/>
          <ul class="ul-nav">
            <li><a href="">001</a></li>
            <li><a href="">002</a></li>
            <li><a href="">003</a></li>
            <li><a href="">004</a></li>
            <li><a href="">005</a></li>
            <li><a href="">006</a></li>
            <li><a href="">007</a></li>
            <li><a href="">008</a></li>
            <li><a href="">009</a></li>
            <li><a href="">010</a></li>
            <li><a href="">011</a></li>
          </ul>
        </div>
        <div id="wrapper">
          <div id="content">
            <p style="font-size:25px;line-height:30px;margin-top:2%"><strong>{{article.title}}</strong></p>

            <hr style="color:white;height:2px;background-color:white;margin-left:-1%"/>
            <p>
              {{article.p1}}
            </p>
            <p>
              {{article.p2}}
            </p>
            <p>
              {{article.p3}}
            </p>
            <p>
              {{article.p4}}
            </p>
            <p>
              {{article.p5}}
            </p>
            <p>
              {{article.p6}}
            </p>
            <p>
              {{article.p7}}
            </p>

          </div>
        </div>
      </div>
      <div id="footer">
        <p style="text-align:right;height:20px">Python Knowledge Base(PKB) --Written By Ervin Zhang</p>
      </div>
    </div>
  </body>
</html>
