<!doctype html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><! <html class="no-js" lang=""> <![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Blog-EZ</title>
<!--
Stacked Template
http://www.templatemo.com/tm-505-stacked
-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="{% static 'stacked/img/ez.ico' %}"/>

        <link rel="stylesheet" href="{% static 'stacked/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'stacked/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'stacked/css/templatemo-style.css' %}">

        <script src="{% static 'stacked/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="nav">
          <div class="burger">
            <div class="burger__patty"></div>
          </div>

          <ul class="nav__list">
            <li class="nav__item">
              <a href="#1" class="nav__link c-blue"><img title="Summary" src="{% static 'stacked/img/home-icon.png' %}" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="#2" class="nav__link c-yellow scrolly"><img title="About Me" src="{% static 'stacked/img/about-icon.png' %}" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="#3" class="nav__link c-red"><img title="Gallery" src="{% static 'stacked/img/projects-icon.png' %}" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="#4" class="nav__link c-green"><img title="Contact Me" src="{% static 'stacked/img/contact-icon.png' %}" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="/resume/en/" class="nav__link c-blue"><img title="click for English version(英文版)" src="{% static 'stacked/img/en.png' %}" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="/pkb/" target="_blank" class="nav__link c-blue"><img title="Python Knowledge Base" src="{% static 'stacked/img/pkb.png' %}" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="/cmd/" target="_blank" class="nav__link c-blue"><img title="CMD for Python" src="{% static 'stacked/img/cmd.png' %}" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="/quickatt/" target="_blank" class="nav__link c-blue"><img title="Quick-Attempt" src="{% static 'stacked/img/quickatt.png' %}" alt=""></a>
            </li>
          </ul>
        </nav>

        <section class="panel b-blue" id="1">
          <article class="panel__wrapper">
            <div class="panel__content">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="home-content">
                      <div class="home-heading">
                        <h1><em>张</em>以哲</h1>
                        <a href="#4" style="font-size:19px;text-transform:none;">英文名: Ervin Zhang</a>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="home-box-content">
                            <div class="left-text">
                              <h4><em>概要</em></h4>
                              <p>具有多年软件设计学习经验的有抱负的研究生。具有设计和开发创新系统的广泛技能。快速学习，积极主动，适应性强，团队合作精神。正寻求Python工程师实习机会。</p>
                              <div class="primary-button">
                                <a href="#2">更多</a>
                              </div>
                            </div>
                            <div class="right-image">
                              <img src="{% static 'stacked/img/right-home-image.png' %}" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
        <section class="panel b-yellow" id="2">
          <article class="panel__wrapper">
            <div class="panel__content">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="about-content">
                      <div class="heading">
                        <h4>关于我</h4>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="about-box-content">
                            <img src="{% static 'stacked/img/about-image.png' %}" alt="">
                          </div>
                        </div>
                        <div class="col-md-7 col-md-offset-5">
                          <div class="about-box-text">
                            <h4>技能栏:</h4>
                            <details style="margin:0 auto " open><summary><b>编程语言</b></summary><a target="_blank" href="/pythonspec/">Python</a>, Java, SQL</details>
                            <details style="margin:0 auto " open><summary><b>Web技术</b></summary>HTML/HTML5, CSS/CSS3, SCSS, JavaScript, Django, AngularJS, Node.js, RxJS, Axure RP</details>
                            <details style="margin:0 auto " open><summary><b>数据库</b></summary>MS SQL Server, Oracle, MySQL, SQLite, MongoDB, Redis</details>
                            <details style="margin:0 auto " open><summary><b>操作系统</b></summary>Windows, Linux (Ubuntu, CentOS)</details>
                            <details style="margin:0 auto " open><summary><b>商业智能工具</b></summary>Power BI, SSIS/SSAS/SSRS, SPSS, R, Data Warehousing</details>
                            <details style="margin:0 auto " open><summary><b>其他工具</b></summary>Office Word/Excel/PPT/VISIO, Git</details>
                            <br/>
                            <div class="primary-button">
                              <a target="_blank" href="/webdev/">全栈工程师>></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
        <section class="panel b-red" id="3">
          <article class="panel__wrapper">
            <div class="panel__content">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="projects-content">
                      <div class="heading">
                        <h4>教育经历</h4>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="owl-carousel owl-theme projects-container">
                            <div>
                              <div class="project-item">
                                <a href="{% static 'stacked/img/project-item-01.jpg' %}" data-lightbox="image-1"><img src="{% static 'stacked/img/project-item-01.jpg' %}" alt=""></a>
                                <div class="text-content">
                                  <h4>2019-至今</h4>
                                  <p><b>美国东北大学,<br /> 波士顿, 马赛诸塞州</b></p>
                                  <p>信息系统理科硕士</p>
                                  <br><br>
                                  <div class="primary-button">
                                    <a target="_blank" href="https://www.northeastern.edu/">GPA: 3.7/4 </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="project-item">
                                <a href="{% static 'stacked/img/project-item-02.jpg' %}" data-lightbox="image-1"><img src="{% static 'stacked/img/project-item-02.jpg' %}" alt=""></a>
                                <div class="text-content">
                                  <h4>2017</h4>
                                  <p><b>加州大学,<br/> 洛杉矶, 加利福尼亚州 </b></p>
                                  <p>国际商务与领导力管理证书</p>
                                  <br><br>
                                  <div class="primary-button">
                                    <a target="_blank" href="http://www.ucla.edu/">Team Work</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="project-item">
                                <a href="{% static 'stacked/img/project-item-03.jpg' %}" data-lightbox="image-1"><img src="{% static 'stacked/img/project-item-03.jpg' %}" alt=""></a>
                                <div class="text-content">
                                  <h4>2015-2019</h4>
                                  <p><b>南通大学, </b><br /><b>南通, 江苏, 中国</b></p>
                                  <p>信息管理与信息系统管理学士</p>
                                  <br>
                                  <div class="primary-button">
                                    <a target="_blank" href="http://www.ntu.edu.cn/">Scholarships</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="project-item">
                                <a href="{% static 'stacked/img/project-item-05-old.jpg' %}" data-lightbox="image-1"><img src="{% static 'stacked/img/project-item-05-old.jpg' %}" alt=""></a>
                                <div class="text-content">
                                  <h4>更多</h4>
                                  <p>......</p>
                                  <div class="primary-button">
                                    <a target="_blank" href="http://www.linkedin.com/in/yizhe-zhang">Discover More</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
        <section class="panel b-red" id="3-2">
          <article class="panel__wrapper">
            <div class="panel__content">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="projects-content">
                      <div class="heading">
                        <h4>项目</h4>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="owl-carousel owl-theme projects-container">
                            <div>
                              <div class="project-item">
                                <a href="{% static 'stacked/img/course.png' %}" data-lightbox="image-1"><img src="{% static 'stacked/img/course.png' %}" alt=""></a>
                                <div class="text-content">
                                  <h4>SPA</h4>
                                  <p><b>Sample Single Page Application(Jan.2020-May.2020)</b></p>
                                  <p>$ Designed single page web with HTML,CSS,Javascript </p>
                                  <p>$ Dynamically updated page by JS when users interact with the application</p>
                                  <br/><br/>
                                  <div class="primary-button">
                                    <a target="_blank" href="/course/">Interface Design</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="project-item">
                                <a href="{% static 'stacked/img/project-item-04.jpg' %}" data-lightbox="image-1"><img src="{% static 'stacked/img/project-item-04.jpg' %}" alt=""></a>
                                <div class="text-content">
                                  <h4>HDS</h4>
                                  <p><b>Hotel Database System(Sept.2019-Dec.2019)</b></p>
                                  <p>$ Developed GUI and database with 18 entities for processing and storing customers’ information and behavior.</p>
                                  <p>$ Analyzed customers’ preference by Power BI in order to improve hotel service(room type, meal</p>

                                  <div class="primary-button">
                                    <a target="_blank" href="https://github.com/ErvinZ-Easy/JavaDevelop">Full Marks</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="project-item">
                                <a href="{% static 'stacked/img/project-item-05.jpg' %}" data-lightbox="image-1"><img src="{% static 'stacked/img/project-item-05.jpg' %}" alt=""></a>
                                <div class="text-content">
                                  <h4>HIS</h4>
                                  <p><b>Hospital Information System(Sept.2019-Dec.2019)</b></p>
                                  <p>$ Developed a system for interaction between medicine suppliers, hospitals, patients and medical insurance bureaus.</p>
                                  <br/><br/><br/><br/>
                                  <div class="primary-button">
                                    <a target="_blank" href="https://github.com/ErvinZ-Easy/JavaDevelop">Superb Work Flows</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="project-item">
                                <a href="{% static 'stacked/img/project-item-06.jpg' %}" data-lightbox="image-1"><img src="{% static 'stacked/img/project-item-06.jpg' %}" alt=""></a>
                                <div class="text-content">
                                  <h4>GUESS</h4>
                                  <p><b>Gamification Used by Exploratory Search System<br/>(Sept.2018-Jun.2019) </b></p>
                                  <p>$ Completed an Excellent Research Essay & initiated Prototype-GUESS  with 11 game modules embedded in 20 visual interfaces in order to improve users' utilization of an exploratory search system</p>
                                  <div class="primary-button">
                                    <a target="_blank" href="http://www.linkedin.com/in/yizhe-zhang">Grade-A Design Paper</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="project-item">
                                <a href="{% static 'stacked/img/project-item-07.jpg' %}" data-lightbox="image-1"><img src="{% static 'stacked/img/project-item-07.jpg' %}" alt=""></a>
                                <div class="text-content">
                                  <h4>And More</h4>
                                  <p>Github: 1)YizheZhang-Ervin<br/>Github: 2)ErvinZ-Easy</p>
                                  <div class="primary-button">
                                    <a target="_blank" href="https://github.com/ErvinZ-Easy/JavaDevelop">Discover More</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
        <section class="panel b-red" id="3-3">
          <article class="panel__wrapper">
            <div class="panel__content">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="projects-content">
                      <div class="heading">
                        <h4>证书</h4>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="owl-carousel owl-theme projects-container">
                            <div>
                              <div class="project-item">
                                <a href="{% static 'stacked/img/cer1.png' %}" data-lightbox="image-1"><img src="{% static 'stacked/img/cer1.png' %}" alt=""></a>
                                <div class="text-content">
                                  <h4>Python 3</h4>
                                  <p><b>SoloLearn<br/>(Issued 27 December, 2019)</b></p>
                                  <div class="primary-button">
                                    <a target="_blank" href="http://www.linkedin.com/in/yizhe-zhang">Discover More</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="project-item">
                                <a href="{% static 'stacked/img/cer2.png' %}" data-lightbox="image-1"><img src="{% static 'stacked/img/cer2.png' %}" alt=""></a>
                                <div class="text-content">
                                  <h4>BI Developer</h4>
                                  <p><b>Udemy<br/>(Issued 8 November,2019)</b></p>
                                  <div class="primary-button">
                                    <a target="_blank" href="http://www.linkedin.com/in/yizhe-zhang">Discover More</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="project-item">
                                <a href="{% static 'stacked/img/cer3.png' %}" data-lightbox="image-1"><img src="{% static 'stacked/img/cer3.png' %}" alt=""></a>
                                <div class="text-content">
                                  <h4>JavaScript</h4>
                                  <p><b>SoloLearn<br/>(Issued 27 December, 2019)</b></p>
                                  <div class="primary-button">
                                    <a target="_blank" href="http://www.linkedin.com/in/yizhe-zhang">Discover More</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="project-item">
                                <a href="{% static 'stacked/img/project-item-07.jpg' %}" data-lightbox="image-1"><img src="{% static 'stacked/img/project-item-07.jpg' %}" alt=""></a>
                                <div class="text-content">
                                  <h4>And More</h4>
                                  <p>......</p>
                                  <div class="primary-button">
                                    <a target="_blank" href="http://www.linkedin.com/in/yizhe-zhang">Discover More</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
        <section class="panel b-green" id="4">
          <article class="panel__wrapper">
            <div class="panel__content">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="contact-content">
                      <div class="heading">
                        <h4>联系我</h4>
                      </div>
                      <div class="row">
                        <div class="col-md-8">
                          <div class="contat-form">
                            <form id="contact" action="/resume/cn/" method="post" >
                              {% csrf_token %}
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required>
                              </fieldset>
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="Email" required>
                              </fieldset>
                              <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message" required></textarea>
                              </fieldset>
                              <fieldset>
                                <button type="submit" id="form-submit" class="btn">Send Message</button>
                              </fieldset>
                            </form>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="more-info">
                            <p>Ervin(Yizhe) Zhang
                              <br><br>
                            <em><a style="color:" target="_blank" href="mailto:zhang.yizhe@husky.neu.edu?subject=Please%20type%20in%20the%20subject">zhang.yizhe@husky.neu.edu</a>
                              <br>
                              <a target="_blank" href="http://www.linkedin.com/in/yizhe-zhang">www.linkedin.com/in/yizhe-zhang</a>
                              <a target="_blank" href="https://github.com/ErvinZ-Easy/JavaDevelop">github.com/ErvinZ-Easy</a>
                              <a target="_blank" href="https://github.com/YizheZhang-Ervin">github.com/YizheZhang-Ervin</a>
                            </em></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="footer">
                      <p>Ervin Zhang | zhang.yizhe@husky.neu.edu</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
      

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'stacked/js/vendor/jquery-1.11.2.min.js' %} "><\/script>')</script>

        <script src="{% static 'stacked/js/vendor/bootstrap.min.js' %}"></script>

        <script src="{% static 'stacked/js/plugins.js' %}"></script>
        <script src="{% static 'stacked/js/main.js' %} "></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
