/* common use */
.leftfloat {
  float: left;
}

.rightfloat {
  float: right;
}

.clearfloat {
  clear: both;
}

.centertext {
  text-align: center;
}

.colorG {
  color: mediumturquoise;
}

.colorW {
  color: white;
}

.buttonstyle {
  border: none;
  border-radius: 15px;
  height: 50px;
  width: 200px;
}

img,
button {
  cursor: grab;
}

p,
h1,
h2,
h3,
h4,
h5,
span {
  font-family: "Times New Roman", Times, serif;
}

/* top part*/
.buttonC {
  font-size: 20px;
  background-color: cadetblue;
  border: none;
}

.buttonW {
  font-size: 20px;
  background-color: white;
  border: none;
}

/* 1st part */

.p1d {
  background: url(home/img/2905211.svg);
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  background-position: right;
  line-height: 10px;
}

.p1d p {
  font-size: 40px;
  text-indent: 12%;
}

.p1h {
  color: gray;
  text-indent: 12%;
}

.p1b1 {
  font-size: 20px;
  background-color: cadetblue;
  margin-left: 12%;
}

.p1b2 {
  font-size: 20px;
  background-color: white;
  border: none;
}

/* 2nd part */

.p2d1 {
  margin-left: 15%;
  height: 490px;
}

.p2d2 {
  margin-right: 25%;
  height: 490px;
}

.p2p1 {
  font-size: 15px;
}

.p2p2 {
  font-size: 21px;
  word-wrap: break-word;
  width: 350px;
}

.p2p3 {
  font-size: 17px;
  word-wrap: break-word;
  width: 350px;
}

.p2b {
  font-size: 15px;
  background-color: cadetblue;
}

.p2cirA {
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px;
  overflow: hidden;
  text-align: center;
  margin-left: 21%;
}

.p2cirB {
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px;
  overflow: hidden;
  text-align: center;
  margin-left: 4%;
}

.p2cirC {
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px;
  overflow: hidden;
  text-align: center;
  margin-left: 4%;
}

.p2cirD {
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px;
  overflow: hidden;
  text-align: center;
  margin-left: 4%;
}

.p2cir2 {
  width: 120px;
  height: 120px;
  border: 7px solid transparent;
  border-radius: 50%;
  border-top: 7px solid rgb(95, 196, 95);
  border-right: 7px solid rgb(95, 196, 95);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -70px;
  margin-top: -70px;
  transform: rotate(45deg);
}

.p2cir3 {
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  border: 2px solid #a7ffeb;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.p2cirtext {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 3rd part */
.p3d > p {
  text-align: center;
}

.p3s1 {
  background-color: azure;
  color: darkcyan;
}

.p3d1 {
  margin-left: 25%;
  border: 1px solid lightblue;
}

.p3d2 {
  float: right;
  margin-top: 5%;
  margin-right: 25%;
  border: 1px solid lightblue;
}

.p3img {
  width: 100px;
  height: 90px;
  margin-left: 5%;
}

.p3p1 {
  font-size: 25px;
  line-height: 10px;
  margin-left: 5%;
}

.p3p2 {
  font-size: 12px;
  word-wrap: break-word;
  width: 330px;
  margin-left: 5%;
}

.p3h {
  margin-left: 5%;
  border: mediumturquoise dashed;
  width: 100px;
}

.p3b {
  background-color: mediumturquoise;
  width: 150px;
  height: 30px;
  margin-left: 5%;
}

.p3p3 {
  margin-top: 5%;
  margin-right: 25%;
  border: 1px solid lightblue;
}

.p3p5 {
  font-size: 25px;
  line-height: 10px;
  margin-left: 5%;
}

.p3h2 {
  margin-left: 5%;
}

.p3p4 {
  font-size: 14px;
  word-wrap: break-word;
  width: 360px;
  margin-left: 5%;
}

.p3d3 {
  margin-top: 5%;
  margin-left: 25%;
  border: 1px solid lightblue;
}

.p3d4 {
  margin-right: 25%;
  border: 1px solid lightblue;
  background-color: mediumturquoise;
}

.p3d5 {
  margin-right: 25%;
  margin-top: 5%;
  border: 1px solid lightblue;
}

.p3d6 {
  margin-top: 0%;
  margin-left: 25%;
  border: 1px solid lightblue;
}

.p3img2 {
  width: 100px;
  height: 90px;
  margin-left: 5%;
}

.p3h3 {
  margin-left: 5%;
  border: white dashed;
  width: 100px;
}

.p3b2 {
  color: black;
  background-color: white;
  width: 150px;
  height: 30px;
  margin-left: 5%;
}

.p3b3 {
  background-color: mediumturquoise;
  width: 150px;
  height: 30px;
  border: none;
  font-size: 22px;
  margin-left: 45%;
}

/* 4th part */
.p4s1 {
  background-color: azure;
  color: darkcyan;
}

.p4s2 {
  background-color: azure;
  font-size: 25px;
}

.p4d1 {
  float: left;
  margin-left: 20%;
}

.p4d1 img {
  width: 200px;
  height: 300px;
}

.p4d1 ~ div > img {
  width: 200px;
  height: 300px;
}

.p4d1 ~ div {
  float: left;
  margin-left: 30px;
}

p:hover {
  color: yellow;
}

p::first-letter {
  text-transform: capitalize;
}

/* 5th part */

.p5p1 {
  margin-left: 40%;
  font-size: 15px;
  word-wrap: break-word;
  width: 300px;
}

.p5img {
  margin-left: 40%;
}

/* 6th part */
.p6d1 {
  margin-left: 18%;
  border: 1px solid lightblue;
}

.p6p1 {
  font-size: 20px;
  line-height: 10px;
  margin-left: 5%;
}

.p6p2 {
  font-size: 12px;
  word-wrap: break-word;
  width: 300px;
  margin-left: 5%;
}

.p6h1 {
  margin-left: 5%;
  border: mediumturquoise dashed;
  width: 100px;
}

.p6b {
  background-color: white;
  width: 150px;
  height: 30px;
  border: none;
  font-size: 22px;
}

.p6d1 {
  margin-left: 80px;
  border: 1px solid lightblue;
}

.p6d2 {
  margin-left: 50px;
  border: 1px solid lightblue;
}

.p6b2 {
  background-color: mediumturquoise;
  width: 150px;
  height: 30px;
  border: none;
  font-size: 22px;
  margin-left: 45%;
}

.p6img {
  width: 400px;
  height: 270px;
}

/* 7th part */
.p7d1 {
  width: 34%;
  height: 50px;
  border: 2px black solid;
  margin-left: 15%;
  border-radius: 5%;
}

.p7i1 {
  width: 80%;
  border: none;
}

.p7d2 {
  width: 70%;
  height: 120px;
  border: 2px black solid;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 5%;
}

.p7d3 {
  width: 34%;
  height: 50px;
  border: 2px black solid;
  margin-right: 15%;
  border-radius: 5%;
}

.p7t {
  width: 99%;
  height: 80px;
  border: none;
}

.p7b {
  background-color: mediumturquoise;
  width: 250px;
  height: 30px;
  border: none;
  font-size: 22px;
}

.p7p {
  margin-left: 5%;
}

.p7p2 {
  margin-left: 2%;
}

/* 8th part */

.p8d1 {
  text-align: right;
}

.p8img1 {
  cursor: grab;
}

.p8d2 {
  text-align: left;
  margin-left: 15%;
}
.p8b1 {
  margin-left: 10%;
  font-size: 35px;
  background-color: cadetblue;
  border: none;
  width: 130px;
  height: 40px;
}

.p8p1 {
  margin-left: 10%;
  text-align: left;
  font-size: 15px;
  word-wrap: break-word;
  width: 270px;
}

.p8d3 {
  float: right;
  margin-right: 15%;
}

.p8p2 {
  word-wrap: break-word;
  width: 420px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20%;
}

.p8d4 {
  float: left;
  margin-left: 50px;
}
